@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Noto+Serif:ital@1&family=Protest+Riot&family=Protest+Strike&display=swap');
*{
  font-family: "Protest Riot", sans-serif;
  margin: 0px;
  padding: 0px;
  
}